@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #0a0a0a 50%, #18181b 100%);
  color: rgb(255 255 255);
}

a {
  color: inherit;
}
